body {
    font-family: sans-serif;
    background:https://wallpaperscraft.com/image/abstraction_passage_light_black_blue_413_1920x1080.jpg;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

